# Environment
.env
*.env

# Data files (too large for GitHub)
data/raw/*.csv
data/outputs/*.csv
data/outputs/*.png

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt